<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfzUoFTobI2hvQ-ClMqHSL2MXcV9lyisM</string>
	<key>GCM_SENDER_ID</key>
	<string>673328386983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sokkhorn.nailTechDailyNotes</string>
	<key>PROJECT_ID</key>
	<string>nail-tech-daily-notes</string>
	<key>STORAGE_BUCKET</key>
	<string>nail-tech-daily-notes.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673328386983:ios:ee90732b7ef0ce5f349c82</string>
</dict>
</plist>